---
- name: Get qemu-img info for {{ disk_location }}
  ansible.builtin.command: "qemu-img info --force-share --output=json {{ disk_location }}"
  register: qemu_info_shell
  changed_when: false
  tags:
    - import

- name: Extract virtual size in bytes
  ansible.builtin.set_fact:
    vm_total_disk_bytes: |
      {{ 
         ((qemu_info_shell.stdout | from_json)['virtual-size'] | int) + 
         (vm_total_disk_bytes | int) 
      }}
  tags:
    - import