---
- name: "Verify vlan {{ vlan_interface.name }} exists"
  register: verify_vlan_shell
  changed_when: false
  ansible.builtin.shell: |
    ip link show {{ vlan_interface.name }}

- when: verify_vlan_shell.rc == 0
  block:
    - name: "Grab vlan {{ vlan_interface.name }}"
      register: vlan_shell
      changed_when: false
      ansible.builtin.shell: |
        ip link show {{ vlan_interface.name }} | grep '@' | awk '{print $2}' | cut -d ":" -f 1

    - name: Set vlan facts
      ansible.builtin.set_fact:
        vlan_id: "{{ vlan_shell.stdout | split('.') | last | split('@') | first }}"
        vlan_phydev: "{{ vlan_shell.stdout | split('@') | last }}"
        vlan_name: "{{ vlan_shell.stdout | split('@') | first }}"

    - name: "Get bridge for vlan interface {{ vlan_name }}"
      changed_when: false
      register: vlan_bridge_name_shell
      ansible.builtin.shell: |
        ip -d link show {{ vlan_name }} | grep 'master' | awk '{ for (i=1; i<=NF; i++) { if ($i == "master") { print $(i+1); break; } } }'

    - name: 
      ansible.builtin.set_fact:
        bridge_to_vlan_mapping: |
          {{ 
            bridge_to_vlan_mapping | 
            combine({vlan_bridge_name_shell.stdout: 
              {
                'vlan_id': vlan_id, 
                'vlan_name': vlan_name,
                'phydev': vlan_phydev,
                'mac_ar_size': vlan_interface.mac_ar_size | default(vn_mac_ar_size)
              }
            }) 
          }}