NAME = "{{ vm_name }}"
CPU = "{{ host_cpu }}"
VCPU = "{{ vm_cpu }}"
MEMORY = "{{ vm_mem }}"
{% if vm_pinned_host_id != '' %}
SCHED_REQUIREMENTS = "HYPERVISOR={{ vm_hypervisor }} & ID = {{ vm_pinned_host_id }}"
{% endif %}
{% for id in oneimage_disk_ids %}
DISK = [IMAGE_ID = "{{ id }}"]
{% endfor %}
{% for id in onevnet_ids %}
NIC = [NETWORK_ID = "{{ id }}"]
{% endfor %}
HYPERVISOR = "{{ vm_hypervisor }}"
OS = [
{%- set comma = joiner(',') %}
{%- if vm_os_machine is defined %}
{{ comma() }}  MACHINE = "{{ vm_os_machine }}"
{%- endif %}
{%- if vm_os_firmware is defined %}
{{ comma() }}  FIRMWARE = "{{ vm_os_firmware }}"
{%- endif %}
{%- if vm_os_firmware_secure is defined %}
{{ comma() }}  FIRMWARE_SECURE = "{{ vm_os_firmware_secure }}"
{%- endif %}
{%- if vm_os_boot is defined %}
{{ comma() }}  BOOT = "{{ vm_os_boot | regex_replace('\\bhd\\b', 'disk0') | regex_replace('\\bnetwork\\b', 'nic0') | regex_replace('\\bcdrom\\b', 'disk0') }}"
{%- endif %}
]
CONTEXT = [
  NETWORK = "YES",
  SSH_PUBLIC_KEY = "$USER[SSH_PUBLIC_KEY]"
]
GRAPHICS = [
  TYPE = "VNC",
  LISTEN = "0.0.0.0"
]